---
layout: base.html
title: Improv
description: Connect devices to Wi-Fi via Bluetooth from your browser
permalink: /improv.html
---

<script type="module" src="/src/pages/improv-details.ts"></script>

<improv-details></improv-details>